<header>
    <div class="container bg-primary rounded-pill">
        <h4 class="text-center text-white p-3">Eduardo Jared López Poseros</h4>
            <ul class="nav justify-content-end ">
                <li class="nav-item">
                  <a class="nav-link text-white" aria-current="page" href="/">Acerca de mi</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-white" href="#">Conocimientoa</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-white" href="#">Proyectos</a>
                </li>
                <li class="nav-item ">
                  <a class="nav-link disabled text-white"></a>
                </li>
              </ul>
  
    </div>
</header>